---
layout: default
---
<!-- 分页列表 -->
<ul class="list-group">
  {% for post in paginator.posts %}
  <li class="list-group-item">
    <span class="badge">{{ post.date | date:"%Y年%m月%d日" }}</span>
    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
  </li>
  {% endfor %}
</ul>
<!-- 分页链接 -->
<ul class="pagination">
  <li{% if paginator.page == 1 %} class="disabled"{% endif %}><a href="/">首页</a></li>
  <li{% if paginator.page == 1 %} class="disabled"{% endif %}>
    <a href="{{paginator.previous_page_path}}" aria-label="Previous"><span aria-hidden="true" title="上一页">&laquo;</span></a>
  </li>

  <li{% if paginator.page == 1 %} class="disabled"{% endif %}><a href="/">1</a></li>
  {% for count in (2..paginator.total_pages) %}
  <li {% if count == paginator.page %} class="active"{% endif %}>
      <a href="/page{{ count }}">{{ count }}</a>
  </li>
  {% endfor %}

  <li{% if paginator.page == paginator.total_pages %} class="disabled"{% endif %}>
    <a href="{{paginator.next_page_path}}" aria-label="Next"><span aria-hidden="true" title="下一页">&raquo;</span></a>
  </li>
  <li{% if paginator.page == paginator.total_pages %} class="disabled"{% endif %}><a href="/page{{paginator.total_pages}}">末页</a></li>

  <li><span>共{{paginator.total_pages}}页</span></li>
</ul>

